@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Custom Color code */
    --indigo-5: rgb(98, 46, 253);
    --indigo-2: rgb(164, 129, 253);

    --dark-purple: rgb(12, 12, 30);

    --black-shade: rgb(1, 20, 29);
    --light-black-shade: rgb(0, 40, 52);

    --offWhite-3: rgba(255, 255, 255, 0.68);
    /* Custom Color code */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom css */

.hero__section__afterEffects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/hero-element.png);
  opacity: 5%;
  background-size: 120%;
  z-index: -1;
}
.hero__text {
  background-image: linear-gradient(90deg, #f9e483 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.global__Button__gradient {
  background-color: var(--indigo-5);
  background-image: linear-gradient(
    -264.28deg,
    var(--indigo-5),
    var(--indigo-2)
  );
}

/* Grid Layout */
/* .why__me-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.why__me-grid-col-span-2 {
  grid-column: span 2;
}

.image__generated__box {
  grid-column: 3;

 grid-row-start: 1;
  grid-row-end: 3; 
  grid-row: 1 / 3;
}
 */

/* Grid Layout */

.recent__work__box {
  background: linear-gradient(
    89.96deg,
    rgba(255, 255, 255, 0.05) 0.03%,
    rgba(255, 255, 255, 0.008) 49.67%,
    rgba(255, 255, 255, 0.05) 99.96%
  );
}

.specialized__in {
  background-image: linear-gradient(
    180deg,
    rgb(31, 30, 58),
    rgba(0, 0, 0, 0) 80%
  );
}

.contact__me__section {
  position: relative;
  overflow: hidden;
  background: rgb(12, 12, 30);
  background: -moz-linear-gradient(
    360deg,
    rgba(12, 12, 30, 1) 0%,
    rgba(27, 27, 68, 1) 53%
  );
  background: -webkit-linear-gradient(
    360deg,
    rgba(12, 12, 30, 1) 0%,
    rgba(27, 27, 68, 1) 53%
  );
  background: linear-gradient(
    360deg,
    rgba(27, 27, 68, 1) 0%,
    rgba(12, 12, 30, 1) 53%
  );
  z-index: 1;
}

.contact__me__section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/box.svg);
  mask-image: linear-gradient(to bottom, transparent 10%, black);
  z-index: -1;
}

.contact__me__box {
  background: rgb(108, 58, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(108, 58, 255, 1) 0%,
    rgba(28, 10, 62, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(108, 58, 255, 1) 0%,
    rgba(28, 10, 62, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(108, 58, 255, 1) 0%,
    rgba(28, 10, 62, 1) 100%
  );
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c3aff",endColorstr="#1c0a3e",GradientType=1); */

  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 20px 26px;
}

.purple_gradient__heading__txt {
  background-image: linear-gradient(
    90deg,
    var(--indigo-5) 0%,
    var(--indigo-2) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.icon__bg__gradient {
  background-image: linear-gradient(289.89deg, #dec7ff -23.71%, #5c27fe 96.09%);
}

/* #testimonial {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.238),
    rgba(255, 255, 255, 0.474)
  );
} */

/* 
Swiper pagination bullet
 */

.swiper-pagination-bullet {
  background-color: #f6ff48 !important;
}
/* [] after:to-[] */
.author__image {
  background: linear-gradient(#6a3af6, var()) padding-box,
    linear-gradient(45deg, var(--indio), #4a328d) border-box;
  border: 5px solid transparent;
  border-radius: 50%;
}

/**
 * Responsive Styles and sizes
 min: "350px" }, // small mobile
 min: "481px" }, // mobile
 min: "700px" }, // tablet
 min: "1025px" }, // laptop
 min: "1171px" }, // desktop
 min: "1361px" }, // desktop lg
 min: "1561px" }, // desktop xl
 */

@media only screen and (min-width: 700px) {
  .hero__section__afterEffects::before {
    background-size: 55%;
  }
}
